.my-thead-dark{
    background-color: #F2F2F2;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

.col{
    padding: 15px 0px;
    text-align: center;
}

.table-row{
    display: grid;
    grid-template-areas: 'main1 main2 main3 main4 main5 main';
}