.app-bar-parent{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.app-bar-flex{
    display: flex;
    gap: 10px;
}

.round-div{
    width: 30px;
    height: 30px;
    background: linear-gradient(42.28deg, #FF0000 33.91%, #7329C6 98.31%);
    border-radius: 50%;
}

.user-name{
    font-size: 13px;
    font-weight: 700;
}

.round-div-2{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
}

