.upper-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
}

.sync{
    gap: 10px;
    color: #000000;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.h-tabs{
    display: flex;
    gap: 20px;
}

.h-tabs-item{
    display: flex;
    align-items: center;
    color: #333333;
    gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.h-tabs-item-selected{
    display: flex;
    align-items: center;
    color: #FE0D0D;
    border-bottom: solid 3px #FE0D0D;
    gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}