.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-layout {
    display: flex;
}

.main {
    margin: 0;
    padding: 0;
}

.navbar {
    border-bottom: 2px solid whitesmoke;
}

.page1 {
    margin: 0px;
    margin-top: 10px;
    margin-left: 80px;
}

.custom-button {
    width: 175px;
    padding: 5px;
    background-color:
        #B73A3A;
    color: white
}

.red-boxed {
    width: 160px;
    height: 30px;
    left: 860px;
    top: 463px;
    background-color: rgba(255, 8, 8, 0.3);
    ;
    color: rgba(255, 8, 8, 1);
    border: 1px solid #FF0808;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
}

.green-boxed {
    width: 160px;
    height: 30px;
    left: 860px;
    top: 339px;
    text-align: center;
    background: rgba(39, 174, 96, 0.3);
    color: rgba(39, 174, 96, 1);
    ;
    /* Green 2 */
    border: 1px solid #27AE60;
    box-sizing: border-box;
    border-radius: 20px;
}

.no-boxed {
    width: 160px;
    height: 30px;
    left: 859px;
    top: 488px;
    text-align: center;
    /* Gray 6 */

    background: #F2F2F2;
    /* Gray 4 */
    color: #BDBDBD;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 20px;
}

.list-group-item {
    font-family: 'Roboto', sans-serif;
    width: 229px;
    height: 40px;
    left: 1px;
    background-color: whitesmoke !important;
    border-color: whitesmoke !important;

}

.list-group-item.active {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: #F1D8D8 !important;
    border-color: whitesmoke !important;
}

.sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color: #FCFBFF;
}

/* Style sidebar links */
.sidebar a {
    /* padding: 6px 8px 6px 16px; */
    text-decoration: none;
    font-size: 20px;
    color: #FCFBFF;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    color: #f1f1f1;
}


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.collapse {
    border-top: none !important;
}

.iconn,
.textico {
    vertical-align: middle;
    display: inline-block;
}

.textico2 {
    vertical-align: middle;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}